/* body styles */
body{
    margin: 0;
    padding: 0;
    background-color: #D99F33;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
body::before{
    content: '';
    position: fixed;
    inset: 0;
    background: url('../Assest/patern.png');
    opacity: 0.2;
    z-index: -1;
}
html,body{
    touch-action: manipulation;
}
/* font */
*{
    font-family: vazir;
}
/* logo styles */
.logoHolder{
    margin-top: 30px;
    text-align: center;   
}
.logo{
    width: 250px;
}
/* search bar styles */
.searchHolder{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: right;
}
.searchBar{
    background-color: #D9D9D9;
    border-radius: 30px;
    height: 45px;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.searchBar .searchInput{
    background-color: #D9D9D9;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: end;
}
.searchBar i{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(92, 90, 90);
}
/* swiper styles */
.slider{
    margin-top: 5rem;
    overflow-x: auto;
    width: 100%;
}
.slider::-webkit-scrollbar{
    display: none;
}
.wrapper{
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    scroll-snap-type: x mandatory;
}
.wrapper::-webkit-scrollbar{
    display: none;
}
.slide{
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffff;
    font-size: 12px;
    white-space: nowrap;
    gap: 5px;
}
.img{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    border-radius: 300px;
    background-position: center;
    background-size: contain;
}
/* image for each type */
.italianPizza{
    background-image: url(../Assest/pizza.png);
    background-size: cover;
}
.americanPizza{
    background-image: url(../Assest/پیتزا\ آمریکایی.jpg);
}
.icecream{
    background-image: url(../Assest/بستنی.jpg);
}
.burger{
    background-image: url(../Assest/برگر.jpg);
}
.icePack{
    background-image: url(../Assest/آیس\ پک.jpg);
}
.juce{
    background-image: url(../Assest/آبمیوه\ طبیعی.jpg);
}
.hotDog{
    background-image: url(../Assest/هات\ داگ.jpg);
}
.hotDrink{
    background-image: url(../Assest/نوشیدنی\ گرم.jpg);
}
.coldDrink{
    background-image: url(../Assest/نوشیدنی\ سرد.jpg);
}
.iceCoffe{
    background-image: url(../Assest/نوشیدنی\ سرد\ کافیین\ دار.jpg);
}
.milkShake{
    background-image: url(../Assest/میلک\ شیک.jpg);
}
.creespy{
    background-image: url(../Assest/سوخاری.jpg);
}
.tea{
    background-image: url(../Assest/دمنوش.jpg);
}
.dessert{
    background-image: url(../Assest/دسر.jpg);
}
.apetizer{
    background-image: url(../Assest/پیش\ غذا.jpg);
}
/* food card */
.burgerBox{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.foodContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.foodCard{
    background-color: #D9D9D9;
    border-radius: 50px;
    width: 85%;
    display: flex;
    height: 70px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.foodIcon{
    background-image: url(../Assest/برگر.jpg);
    width: 70px;
    height: 70px;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    flex-shrink: 0;
    
}
.topPart{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    align-items: center;

}
.topText{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10px;
}
.foodName{
    font-weight: bold;
}
.foodInfo{
    font-size: 12px;
    font-weight: 100;
}
.foodInfoEng{
    font-size: 12px;
    font-weight: 100;
    padding-top: 0.6rem;
    padding-right: 5rem;
    text-align: left;
}
.pricing{
    margin-left: 1rem;
    text-align: center;
    font-weight: bold;
}
/* foodCard display content none  */
.foodCard .foodInfoEng{
    display: none;
}
.foodCard .foodInfo{
    display: none;
}
.foodCard .pricing{
    text-align: left;
}
.foodCard .topPart{
    padding: 0;
}
.foodCard:focus{
    flex-direction: column;
    height: 200px;
}
.foodCard:focus .foodInfoEng{
    display: block;
}
.foodCard:focus .foodInfo{
    display: block;
}
.foodCard:focus .pricing{
    text-align: center;
}
.foodCard:focus .topPart{
    padding: 20px;
}
/* food card open and close transizion */
.foodContainer{
    overflow-y: auto;
    height: 25rem;
    scrollbar-width: none;
}
/* pasta box */
.pastaBox{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
/* pish qhaza */
.pishQhaza{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


