/* body styles */
body{
    margin: 0;
    padding: 0;
    background-color: #D99F33;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
body::before{
    content: '';
    position: fixed;
    inset: 0;
    background: url('../Assest/patern.png');
    opacity: 0.2;
    z-index: -1;
}
html,body{
    touch-action: manipulation;
}
/* font */
*{
    font-family: vazir;
}
/* logo styles */
.logoHolder{
    margin-top: 30px;
    text-align: center;   
}
.logo{
    width: 250px;
}
/* search bar styles */
.searchHolder{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: right;
}
.searchBar{
    background-color: #D9D9D9;
    border-radius: 30px;
    height: 45px;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.searchBar .searchInput{
    background-color: #D9D9D9;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: end;
}
.searchBar i{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(92, 90, 90);
}
/* swiper styles */
.slider{
    margin-top: 5rem;
    overflow-x: auto;
    width: 100%;
}
.slider::-webkit-scrollbar{
    display: none;
}
.wrapper{
    /* overflow-x: auto; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    scroll-snap-type: x mandatory;
    width: max-content;
}
.wrapper::-webkit-scrollbar{
    display: none;
}
.slide{
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffff;
    font-size: 12px;
    white-space: nowrap;
    gap: 5px;
    flex-shrink: 0;
    scroll-snap-align: start;
}
.img{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    border-radius: 300px;
    background-position: center;
    background-size: contain;
}
/* image for each type */
.sandwichIcon{
    background-image: url(../Assest/ساندویچ.png);
    background-size: cover;
}
.americanPizza{
    background-image: url(../Assest/پیتزا\ آمریکایی.jpg);
}
.icecream{
    background-image: url(../Assest/بستنی.jpg);
}
.burger{
    background-image: url(../Assest/برگر.jpg);
}
.icePack{
    background-image: url(../Assest/آیس\ پک.jpg);
}
.juce{
    background-image: url(../Assest/آبمیوه\ طبیعی.jpg);
}
.hotDog{
    background-image: url(../Assest/هات\ داگ.jpg);
}
.hotDrink{
    background-image: url(../Assest/نوشیدنی\ گرم.jpg);
}
.coldDrink{
    background-image: url(../Assest/نوشیدنی\ سرد.jpg);
}
.iceCoffe{
    background-image: url(../Assest/نوشیدنی\ سرد\ کافیین\ دار.jpg);
}
.milkShake{
    background-image: url(../Assest/میلک\ شیک.jpg);
}
.creespy{
    background-image: url(../Assest/سوخاری.jpg);
}
.tea{
    background-image: url(../Assest/دمنوش.jpg);
}
.dessert{
    background-image: url(../Assest/دسر.jpg);
}
.apetizer{
    background-image: url(../Assest/پیش\ غذا.jpg);
}
.pasta{
    background-image: url(../Assest/pastaLogo.jpg);
}
.gelasse{
    background-image: url(../Assest/گلاسه.png);
}
.mocktel{
    background-image: url(../Assest/موکتل.png);
}
.majoon{
    background-image: url(../Assest/4معجون.jpg);
}
/* food card */
.burgerBox{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.foodContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.foodCard{
    background-color: #D9D9D9;
    border-radius: 50px;
    width: 85%;
    display: flex;
    height: 70px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.foodIcon{
    background-image: url(../Assest/برگر.jpg);
    width: 70px;
    height: 70px;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    flex-shrink: 0;
    
}
.topPart{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    align-items: center;

}
.topText{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10px;
}
.foodName{
    font-weight: bold;
}
.foodInfo{
    font-size: 12px;
    font-weight: 100;
}
.foodInfoEng{
    font-size: 12px;
    font-weight: 100;
    padding-top: 0.6rem;
    padding-right: 1rem;
    text-align: left;
}
.pricing{
    margin-left: 1rem;
    text-align: center;
    font-weight: bold;
}
/* foodCard display content none  */
.foodCard .foodInfoEng{
    display: none;
}
.foodCard .foodInfo{
    display: none;
}
.foodCard .pricing{
    text-align: left;
}
.foodCard .topPart{
    padding: 0;
}
.foodCard:focus{
    flex-direction: column;
    height: 220px;
}
.foodCard:focus .foodInfoEng{
    display: block;
}
.foodCard:focus .foodInfo{
    display: block;
}
.foodCard:focus .pricing{
    text-align: center;
}
.foodCard:focus .topPart{
    padding: 20px;
}
/* food card open and close transizion */
.foodContainer{
    overflow-y: auto;
    height: 25rem;
    scrollbar-width: none;
}
/* pasta box */
.pastaBox{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.pasta-chicken-alfredo{
    background-image: url(../Assest/foods/پاستا\ چیکن\ الفردو.jpg);
    background-size: cover;
    background-position: center;
}
.pasta-peneh{
    background-image: url(../Assest/foods/پاستا\ پنه.jpg);
    background-size: cover;
    background-position: center;
}
.pasta-farfale{
    background-image: url(../Assest/foods/پاستا\ فارفاله.jpg);
    background-size: cover;
    background-position: center;
}
.lazania{
    background-image: url(../Assest/foods/لازانیا.jpg);
    background-size: cover;
    background-position: center;
}
/* pish qhaza */
.pishQhaza{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.french-fries{
    background-image: url(../Assest/foods/فرایز.jpg);
    background-size: cover;
    background-position: center;
}
.homeMade-french-fries{
    background-image: url(../Assest/foods/سیب\ زمینی\ تنوری\ دست\ ساز\ با\ ادویه\ مخصوص.jpg);
    background-size: cover;
    background-position: bottom;
}
.chips-and-cheese{
    background-image: url(../Assest/foods/چیپس\ و\ پنیر\ مخصوص.jpg);
    background-size: cover;
    background-position: bottom;
}
.sezar-salad{
    background-image: url(../Assest/foods/سالاد\ سزار\ سوخاری.jpg);
    background-size: cover;
    background-position: bottom;
}
.garlic-bread{
    background-image: url(../Assest/foods/نان\ سیر.jpg);
    background-size: cover;
    background-position: bottom;
}
.french-fries-mushroom-sauce{
    background-image: url(../Assest/foods/سیب\ زمینی\ با\ سس\ قارچ.jpg);
    background-size: cover;
    background-position: center;
}
/* burger food */
.cheese-burger{
    background-image: url(../Assest/foods/چیز\ برگر.jpg);
    background-size: cover;
    background-position: bottom;
}
.special-burger{
    background-image: url(../Assest/foods/همبرگر\ مخصوص.jpg);
    background-size: cover;
    background-position: center;
}
.mushroom-burger{
    background-image: url(../Assest/foods/ماشروم\ برگر.jpg);
    background-size: cover;
    background-position: center;
}
.smoky-burger{
    background-image: url(../Assest/foods/همبرگر\ تنوری.jpg);
    background-size: cover;
    background-position: bottom;
}
.chicken-burger{
    background-image: url(../Assest/foods/چیکن\ برگر.jpg);
    background-size: cover;
    background-position: bottom;
}

/* piza */
.pizzaBox{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.cheff-pizza{
    background-image: url(../Assest/foods/پیتزا\ سراشپز\ ایتالیایی.jpg);
    background-size: cover;
    background-position: bottom;
}
.special-pizza{
    background-image: url(../Assest/foods/پیتزا\ مخصوص\ ایتالیایی.jpg);
    background-size: cover;
    background-position: bottom;
}
.roast-beef-pizza{
    background-image: url(../Assest/foods/پیتزا\ رست\ بیف\ ایتالیایی.jpg);
    background-size: cover;
    background-position: bottom;
}
.beef-mushroom{
    background-image: url(../Assest/foods/پیتزا\ قارچ\ و\ گوشت\ امریکایی.jpg);
    background-size: cover;
    background-position: center;
}
.chicken-mushroom{
    background-image: url(../Assest/foods/پیتزا\ قارچ\ و\ مرغ\ ایتالیایی.jpg);
    background-size: cover;
    background-position: bottom;
}
.special2-pizza{
    background-image: url(../Assest/foods/پیتزا\ اسپشیال.jpg);
    background-size: cover;
    background-position: center;
}
.vegi-pizza{
    background-image: url(../Assest/foods/پیتزا\ سبزیجات\ تک\ نفره.jpg);
    background-size: cover;
    background-position: center;
}
.alfredo-pizza{
    background-image: url(../Assest/foods/پیتزا\ الفردو\ ایتالیایی.jpg);
    background-size: cover;
    background-position: center;
}
.pizza-mix{
    background-image: url(../Assest/foods/پیتزا\ میکس.jpg);
    background-size: cover;
    background-position: bottom;
}
/* cold-coffee-box */
.cold-coffee-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.ice-coffee{
    background-image: url(../Assest/foods/آیس\ کافی.jpg);
    background-size: cover;
    background-position: bottom;
}
.ice-latte{
    background-image: url(../Assest/foods/آیس\ لاته.jpg);
    background-size: cover;
    background-position: bottom;
}
.ice-mocha{
    background-image: url(../Assest/foods/موکا);
    background-size: cover;
    background-position: bottom;
}
.ice-chocolate{
    background-image: url(../Assest/foods/آیس\ شکلات.jpg);
    background-size: cover;
    background-position: center;
}
.dalgonah-coffee{
    background-image: url(../Assest/foods/دالگونا\ کافی.jpg);
    background-size: cover;
    background-position: center;
}
.cappuccino{
    background-image: url(../Assest/foods/کاپوچینو.jpg);
    background-size: cover;
    background-position: bottom;
}
.afogato{
    background-image: url(../Assest/foods/آفوگاتو.jpg);
    background-size: cover;
    background-position: bottom;
}
/* sandwich */
.sandwich-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.chickenWich{
    background-image: url(../Assest/foods/چیکن\ ویچ.jpg);
    background-size: cover;
    background-position: center;
}
.hotDog-tanouri{
    background-image: url(../Assest/foods/هات\ داگ\ تنوری.jpg);
    background-size: cover;
    background-position: bottom;
}
.chickenAndMushroom-wich{
    background-image: url(../Assest/foods/چیکن\ ویچ.jpg);
    background-size: cover;
    background-position: bottom;
}
.mexican-hotDog{
    background-image: url(../Assest/foods/هات\ داگ\ تنوری.jpg);
    background-size: cover;
    background-position: bottom;
}
.shekari{
    background-image: url(../Assest/foods/ساندویچ\ شکاری.jpg);
    background-size: cover;
    background-position: bottom;
}
.roasted-hotDog{
    background-image: url(../Assest/foods/هات\ داگ\ رست\ بیف.jpg);
    background-size: cover;
    background-position: center;
}
.mix-hotDog{
    background-image: url(../Assest/foods/هات\ داگ\ میکس.jpg);
    background-size: cover;
    background-position: bottom;
}
/* ice cream */
.iceCream-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.jelly-iceCream-fruit{
    background-image: url(../Assest/foods/ژله\ بستنی\ با\ میوه.jpg);
    background-size: cover;
    background-position: center;
}
.fruit-cocktail-iceCream{
    background-image: url(../Assest/foods/کوکتل\ میوه\ با\ بستنی.jpg);
    background-size: cover;
    background-position: center;
}
/* hot dog */
.hotDog-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.mocktail-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.limonade{
    background-image: url(../Assest/foods/لیموناد\ طبیعی.jpg);
    background-size: cover;
    background-position: bottom;
}
.mohito{
    background-image: url(../Assest/foods/موهیتو.jpg);
    background-size: cover;
    background-position: bottom;
}
.margarita
{
    background-image: url(../Assest/foods/مارگاریتا.jpg);
    background-size: cover;
    background-position: bottom;
}
.hawaei{
    background-image: url(../Assest/foods/هاوایی.jpg);
    background-size: cover;
    background-position: bottom;
}
.blue-kar-sao{
    background-image: url(../Assest/foods/موکتل\ بلوکارسائو.jpg);
    background-size: cover;
    background-position: bottom;
}
.sherly-temple{
    background-image: url(../Assest/foods/موکتل\ شرلی\ تمپل.jpg);
    background-size: cover;
    background-position: bottom;
}
.pinacolada{
    background-image: url(../Assest/foods/موکتل\ پیناکولادا.jpg);
    background-size: cover;
    background-position: top;
}
/* glasse */
.galsse-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}

/* majoon */
.majoon-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}

/* ice-pack */
.icePack-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.strawberry-pack{
    background-image: url(../Assest/foods/آیس\ پک\ توت\ فرنگی.jpg);
    background-size: cover;
    background-position: bottom;
}
.anbeh-pack{
    background-image: url(../Assest/foods/شیک\ انبه_آیس\ پک\ انبه.jpg);
    background-size: cover;
    background-position: center;
}
/* hot-coffee-box */
.hot-coffee-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.single-espresso{
    background-image: url(../Assest/foods/اسپرسو\ تک.jpg);
    background-size: cover;
    background-position: center;
}
.double-espresso{
    background-image: url(../Assest/foods/اسپرسو\ تک.jpg);
    background-size: cover;
    background-position: center;
}
.latte{
    background-image: url(../Assest/foods/کافه\ لاته.jpg);
    background-size: cover;
    background-position: bottom;
}
.cappuccinoHot{
    background-image: url(../Assest/foods/کاپوچینو.jpg);
    background-size: cover;
    background-position: bottom;
}
.mocka{
    background-image: url(../Assest/foods/قهوه\ موکا.jpg);
    background-size: cover;
    background-position: center;
}
.tork{
    background-image: url(../Assest/foods/قهوه\ ترک.jpg);
    background-size: cover;
    background-position: bottom;
}
/* fresh juice */
.fresh-juice-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none;
}
.mango-juice{
    background-image: url(../Assest/foods/آب\ انبه.jpg);
    background-size: cover;
    background-position: center;
}
.orange-juice{
    background-image: url(../Assest/foods/اب\ پرتقال\ طبیعی.jpg);
    background-size: cover;
    background-position: bottom;
}
.pamegeranet-juice{
    background-image: url(../Assest/foods/آب\ انار\ طبیعی.jpg);
    background-size: cover;
    background-position: center;
}
.carrot-juice{
    background-image: url(../Assest/foods/آب\ هویج.jpg);
    background-size: cover;
    background-position: center;
}
.pineapple-juice{
    background-image: url(../Assest/foods/آب\ آناناس.jpg);
    background-size: cover;
    background-position: center;
}
.cherry-juice{
    background-image: url(../Assest/foods/آب\ آلبالو.jpg);
    background-size: cover;
    background-position: center;
}
.sookhari-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* display: none; */
}
